[Unit]
Description=k3s Lightweight Kubernetes
Documentation=https://rancher.com/docs/k3s/latest/en/
Requires=containerd.service
After=containerd.service

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
KillMode=process
Delegate=yes

LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s
ExecStart=@BINDIR@/k3s server --data-dir=/data/rancher/k3s